@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario{
    width: 100%;
    align-items: center;
}
.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    
    label{
        flex: 1rem;
        margin: 1rem;
    }
    input{
        flex: 1;
        border:none;
        padding: 1.5rem;
        border-radius: 1rem;
    }
}



